

     <% provide(:title, @user.name) %>
    <section>
            <%= render 'shared/ppersonal' %>
          </section>

      <aside class="span4">
        <section>
          <h3>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h3>
        </section>
      </aside>
      <div class="span8">
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        <% end %>
      </div>
     
          
    </div> 

