

     <!DOCTYPE html>
    <html>
      <head>
        <title>A Bite of China | <%= yield(:title) %></title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
      </head>
      <body>
        <div id="banner">  
     
    <%= @page_title || "A Bite of China" %><!-- <label id="code.depot.e.title"/> -->  </div>
        <%= render 'layouts/header' %> 
                


    

    <div id="sidebar1">
      <font color="red">我们的宗旨是：<br>你是我们的上帝</font>
      <div class="diveleftCart"><a href="/tabflowers/checkout" class="link">查看购物车</a>
      </div>
      

    </div>

    <div class="diveleftShopp">
    </div>

      </div>




        



  




        <div class="container">
          <% flash.each do |key, value| %>         <!-- START NEW CODE  -->
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>        
          <%= yield %>
          
          <%= debug(params) if Rails.env.development? %> 
        </div>

       
