
    <!DOCTYPE html>
    <html>
      <head>
        <title>A Bite Of China | <%= yield(:title) %></title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
      </head>
      <body>
        <%= render 'layouts/header' %> 
                <div id="header">
                  <div id="banner">  
     
    <%= @page_title || "A Bite of China" %><!-- <label id="code.depot.e.title"/> -->  </div>
        
  

    <div id="sidebar1">
      <IMG alt="Rails" border=5 src="/assets/55.gif" width=150 height=300/>
      <IMG alt="Rails" border=5 src="/assets/12.gif" width=150 height=150/>
      <IMG alt="Rails" border=5 src="/assets/a.gif" width=150 height=150/>
      <font color="red">Our Tenet is：<br>We take customers as our Gods</font>
      <IMG alt="Rails" border=5 src="/assets/6666666.gif" width=150 height=150/>
      </div>
      
    </div>

    










      </div>

        




        <div class="container">
          <% flash.each do |key, value| %>         <!-- START NEW CODE  -->
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>        
          <%= yield %>
          
          <%= debug(params) if Rails.env.development? %> 
        </div>

